
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


html{
    height: 100%;
}



body{
    height: 100%;
    background-color: #B533DE;
}


/*divs gerais*/
.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}


.clear{
    clear:both;
}


/*divs especificas*/

header{
    background-color:#EBC932;
    padding: 10px 2% 30px 2%;
}


.logo-belem1{
    float: left;
    width: 100px;
    height: 80px;
    border-radius: 50% 50%;
    /*background-color: purple;*/
    background-image: url(../images/logo-belem.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.logo-belem2{
    float: right;
    width: 100px;
    height: 80px;
    border-radius: 50% 50%;
    /*background-color: green;*/
    background-image: url(../images/logo-belem-panificadora.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}


section.cover-form{
    width: 100%;
    /*padding: 0 2%;*/
}


.bg{
    position: relative;
    background-image: url(../images/imagem-belem-doces-embalagens.jpg);
    background-size: cover;
    background-position: center;
    height: 560px;

}


.form-container{
    position: absolute;
    right: 30px;
    z-index: 2;
    /*float: right;*/
    width: 400px;
    /*margin-right: 60px;*/
    height: 105%;
    /*position: relative;*/
    -webkit-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(117,117,117,1);
    top: -2.5%;
    box-shadow: 1px 1px 2px 1px rgb(206, 199, 199);
    background-color: #FFFFFF;
}


.form-container h2{
    font-weight: bold;
    padding: 25px 15px;
    color: white;
    font-size: 16px;
    background-color: #F240DA;
}


.form-container form{
    margin-top: 20px;
    padding: 15px;
}


.form-container form p{
    font-size: 13px;
    color: #525252;
}


.form-wraper:not(:first-child){
    margin-top: 40px;
}


.form-wraper:last-child{
    margin-top: 20px;
}


.form-container form input[type=text]{
    width: 100%;
    border: 1px solid black;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
}


.form-container form input[type=submit]{
    background-color: #31CDDC;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
}


section.chamada{
    z-index: 1;
    /*padding: 50px 0;*/
    width: 100%;
    text-align: center;
    position: relative;
    /*top: -50px;*/
    /*display: inline-block;*/
    /*background-color: #FFFFFF;*/
}


section.chamada .container{
    padding: 70px 0 50px 0;
    background-color: #EBC932;
}


section.chamada h2{
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: #F04BD6;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}


section.chamada p{
    width: 96%;
    max-width: 700px;
    display: inline-block;
    color: red;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}


.flex-mosaico{
	display: flex;
}

.first-mosaic-item{
    /*background-image: url(../images/forma-de-pãp-de-queijo.png);*/
	background-position: center;
	background-size: cover;
	width: 60%;
}

.second-mosaic-item{
	background-color: #B533DE;
	padding:90px 40px;
	width: 40%;
}

.second-mosaic-item p{
	color: white;
    font-weight: bold;
}


footer .container{
	text-align: center;
	padding: 8px; 0;
	background-color:#EBC932;
}

footer img{
	width: 50px;
    border-radius: 50% 50%;
}


footer p{
    margin-top: 2px;
}


@media screen and (max-width: 960px){

	.bg{
		height: auto;
		padding: 40px 0;
		text-align: center;
	}

	.form-container{
		height: auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}
}



@media screen and (max-width: 1024px){

	.bg{
		height: auto;
		padding: 80px 0;
		text-align: center;
	}

	.form-container{
		text-align: left;
		height: auto;
		width: 96%;
		max-width: 400px;
		position: static;
		display: inline-block;
	}
}

@media screen and (max-width: 768px){

	.flex-mosaico{
		display: block;
	}

	.first-mosaic-item{
		padding-top:80%;
		width: 100%;
	}

	.second-mosaic-item{
		text-align: justify;
		width: 100%;
	}
}

@media screen and (max-width: 510px){

	header{
		text-align: center;
	}

	[class^="logo"]{
		margin-top:10px;
		display: inline-block;
		float: none;
	}
    
}